body{
    overflow-x: hidden;
    background-color: #118AB2;
    padding: 0;
    margin: 0;
}
.logo{
    max-width: 100px;
    max-height: 100px;
    border-radius: 100px;
}
.foto{
    position: relative;
    max-width: 250px;
    max-height: 250px;
    border-radius: 20px;
    left: 550px;
    top: 20px;
}
.mobile{
    display: none;
}
.fas.fa-bars.fa-2x{
    display: none;
}
.barra{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: right;
    width: 100%;
    background-color: #2B2D42;
    display: flex;
    line-height: 80px;
    font-family: Arial,sans-serif;
    
}
.barra a{
    text-decoration: none;
    left: 890px;
    padding: 0 15px;
    color:#06D6A0;
    position: relative;
    font-size: 15pt;
    transition: 1s;

    
}
a:hover{
    color: yellowgreen;
}
h1{
    position: relative;
    font-family: arial;
    left: 10px;
    text-decoration: underline;
    text-align: center;
}
p{
    text-align: center; 
    font-family: arial;
    font-size: 20px;
}


@media screen and (max-width: 576px){
.fas.fa-bars.fa-2x{
    display: block;
    position: relative;
    background: none;
    border: 0;
    color: #06D6A0;
    left: 300px;
}
.mobile{
    display: none;
    width: 100%;
    background-color: #2B2D42; 
    
}
.mobile a {   
    text-decoration: none;
    color: #2A9D8F;
    margin-left: 35px;
}
.desktop{
    display: none;
}
#nav.ativo .mobile{
    display: block;
}
.logo{
    max-width: 50px;
    max-height: 50px;
}

.barra{
    width: 100%;
}
p{
    position: relative;
    width: 250px;
    text-align: center;
    font-size: 15px;
    left: 75px;
}
h1{
    font-size: 19px;
    left: 75px;
    width: 280px;
}
.foto{
   margin: 0;
   max-width: 100px;
   max-height: 100px;
   background-size: 0px;
   left: 150px;
}

}

